Documents/integracije/n8n-mcp-simple.json
{
  "name": "MCP Server Integration Hub",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp/execute",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-http",
      "name": "1. HTTP Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp/ssh-new",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ssh",
      "name": "2. SSH Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 700]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsCode": "const body = $input.item.json.body || $input.item.json;\n\nreturn [{ json: {\n  ssh: {\n    host: 'localhost',\n    port: 2222,\n    username: 'dju',\n    password: 'S@alakazu17'\n  },\n  command: body.command || 'echo \"No command provided\"',\n  executionId: 'mcp-' + Date.now().toString(36),\n  startTime: new Date().toISOString()\n} }];"
      },
      "id": "parse-ssh",
      "name": "Parse SSH Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 550]
    },
    {
      "parameters": {
        "mode": "define",
        "nodeCredentialType": "sshPassword",
        "host": "={{ $json.ssh.host }}",
        "port": "={{ $json.ssh.port }}",
        "username": "={{ $json.ssh.username }}",
        "password": "={{ $json.ssh.password }}",
        "command": "={{ $json.command }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "ssh-execute",
      "name": "SSH Execute",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [700, 550],
      "credentials": {
        "sshPassword": {
          "id": "FySULUoTMUlNEpt7",
          "name": "SSH Password for MCP"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOncePerItem",
        "jsCode": "const item = $input.item.json;\nconst endTime = new Date();\nconst startTime = new Date(item.startTime || Date.now());\nconst executionTime = endTime - startTime;\n\nconst success = !item.error && item.data;\n\nreturn [{ json: {\n  success,\n  executionId: item.executionId,\n  server: 'localhost:2222',\n  tool: 'ssh-execute',\n  command: item.command,\n  result: item.data || item.response || '',\n  error: item.error || null,\n  executionTime,\n  timestamp: endTime.toISOString()\n} }];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 550]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "executionId": "={{ $json.executionId }}",
          "status": "={{ $json.success ? 'SUCCESS' : 'FAILED' }}",
          "server": "={{ $json.server }}",
          "tool": "={{ $json.tool }}",
          "command": "={{ $json.command }}",
          "executionTime": "={{ $json.executionTime }}ms",
          "timestamp": "={{ $json.timestamp }}",
          "result": "={{ $json.result }}"
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1300, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "executionId": "={{ $json.executionId }}",
          "status": "FAILED",
          "error": "={{ $json.error }}",
          "server": "={{ $json.server }}",
          "tool": "={{ $json.tool }}",
          "command": "={{ $json.command }}",
          "timestamp": "={{ $json.timestamp }}"
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1300, 650]
    }
  ],
  "connections": {
    "1. HTTP Trigger": {
      "main": [[{ "node": "Parse SSH Request", "type": "main", "index": 0 }]]
    },
    "2. SSH Trigger": {
      "main": [[{ "node": "Parse SSH Request", "type": "main", "index": 0 }]]
    },
    "Parse SSH Request": {
      "main": [[{ "node": "SSH Execute", "type": "main", "index": 0 }]]
    },
    "SSH Execute": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Respond Error", "type": "main", "index": 0 }]]
    }
  },
  "settings": {}
}
