Documents/integracije/n8n-mcp-with-file.json
{
  "name": "MCP Server Integration Hub",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp/execute",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-http",
      "name": "1. HTTP Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp/ssh",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ssh",
      "name": "2. SSH Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 700]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsCode": "const body = $input.item.json.body || $input.item.json;\n\nconst executionId = 'mcp-' + Date.now().toString(36);\nconst timestamp = new Date().toISOString();\n\nreturn [{ json: {\n  ssh: {\n    host: 'localhost',\n    port: 2222,\n    username: 'dju',\n    password: 'S@alakazu17'\n  },\n  command: body.command || 'echo \"No command provided\"',\n  executionId,\n  timestamp,\n  outputDir: '/tmp/mcp-results'\n} }];"
      },
      "id": "parse-ssh",
      "name": "Parse SSH Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 550]
    },
    {
      "parameters": {
        "mode": "define",
        "nodeCredentialType": "sshPassword",
        "host": "={{ $json.ssh.host }}",
        "port": "={{ $json.ssh.port }}",
        "username": "={{ $json.ssh.username }}",
        "password": "={{ $json.ssh.password }}",
        "command": "mkdir -p /tmp/mcp-results && {{ $json.command }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "ssh-execute",
      "name": "SSH Execute",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [700, 550],
      "credentials": {
        "sshPassword": {
          "id": "FySULUoTMUlNEpt7",
          "name": "SSH Password for MCP"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOncePerItem",
        "jsCode": "const item = $input.item.json;\nconst endTime = new Date();\nconst startTime = new Date(item.timestamp || Date.now());\nconst executionTime = endTime - startTime;\n\nconst success = !item.error;\nconst output = item.data || item.response || '';\nconst executionId = item.executionId;\n\n// Create text report\nconst lines = [];\nlines.push('═══════════════════════════════════════════════════════════════════════════════');\nlines.push('                        MCP COMMAND EXECUTION REPORT');\nlines.push('═══════════════════════════════════════════════════════════════════════════════');\nlines.push('');\nlines.push(`  Execution ID  : ${executionId}`);\nlines.push(`  Timestamp    : ${endTime.toLocaleString()}`);\nlines.push(`  Status       : ${success ? '✅ SUCCESS' : '❌ FAILED'}`);\nlines.push(`  Duration     : ${executionTime}ms`);\nlines.push('');\nlines.push('───────────────────────────────────────────────────────────────────────────────');\nlines.push('                              COMMAND');\nlines.push('───────────────────────────────────────────────────────────────────────────────');\nlines.push('');\nlines.push(`  ${item.command || 'N/A'}`);\nlines.push('');\nlines.push('───────────────────────────────────────────────────────────────────────────────');\nlines.push('                                OUTPUT');\nlines.push('───────────────────────────────────────────────────────────────────────────────');\nlines.push('');\n\nif (!success) {\n  lines.push(`  ❌ ERROR: ${item.error || 'Unknown error'}`);\n} else if (output) {\n  const outputLines = output.split('\\n');\n  outputLines.forEach(line => lines.push(`  ${line}`));\n} else {\n  lines.push('  (No output)');\n}\n\nlines.push('');\nlines.push('═══════════════════════════════════════════════════════════════════════════════');\n\nconst reportText = lines.join('\\n');\n\n// Return data for saving to file\nreturn [{ json: {\n  success,\n  executionId,\n  server: 'localhost:2222',\n  tool: 'ssh-execute',\n  command: item.command,\n  output,\n  error: item.error || null,\n  executionTime,\n  timestamp: endTime.toISOString(),\n  reportText,\n  filePath: `/tmp/mcp-results/${executionId}.txt`\n} }];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 550]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsCode": "const item = $input.item.json;\n\n// Build the text file content\nconst content = item.reportText;\n\nreturn [{ json: {\n  fileName: `${item.executionId}.txt`,\n  fileContent: content,\n  executionId: item.executionId,\n  success: item.success,\n  command: item.command,\n  output: item.output,\n  error: item.error,\n  executionTime: item.executionTime,\n  timestamp: item.timestamp\n} }];"
      },
      "id": "prepare-file",
      "name": "Prepare File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 550]
    },
    {
      "parameters": {
        "dataType": "string",
        "data": "={{ $json.fileContent }}"
      },
      "id": "set-binary",
      "name": "Set Binary Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1600, 550]
    },
    {
      "parameters": {
        "fileName": "={{ $json.fileName }}",
        "fileFormat": "txt"
      },
      "id": "write-file",
      "name": "Write to File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1900, 550]
    },
    {
      "parameters": {
        "respondWith": "options",
        "responseBody": "={{ $json.reportText }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2200, 450]
    },
    {
    "parameters": {
      "respondWith": "json",
      "responseBody": {
        "executionId": "={{ $json.executionId }}",
        "status": "FAILED",
        "error": "={{ $json.error }}",
        "command": "={{ $json.command }}",
        "timestamp": "={{ $json.timestamp }}"
      }
    },
    "id": "respond-error",
    "name": "Respond Error",
    "type": "n8n-nodes-base.respondToWebhook",
    "typeVersion": 1,
    "position": [2200, 650]
  }
  ],
  "connections": {
    "1. HTTP Trigger": {
      "main": [[{ "node": "Parse SSH Request", "type": "main", "index": 0 }]]
    },
    "2. SSH Trigger": {
      "main": [[{ "node": "Parse SSH Request", "type": "main", "index": 0 }]]
    },
    "Parse SSH Request": {
      "main": [[{ "node": "SSH Execute", "type": "main", "index": 0 }]]
    },
    "SSH Execute": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Prepare File", "type": "main", "index": 0 }]]
    },
    "Prepare File": {
      "main": [[{ "node": "Set Binary Data", "type": "main", "index": 0 }]]
    },
    "Set Binary Data": {
      "main": [[{ "node": "Write to File", "type": "main", "index": 0 }]]
    },
    "Write to File": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "error": [[{ "node": "Respond Error", "type": "main", "index": 0 }]]
    }
  },
  "settings": {}
}
